@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

body {
    width: 316px;
    /* height: 520px; */
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

.checked_box {
    margin-left: 110px;
}

#demo {
    background: #000;
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    padding-left: 13px;
    padding-right: 12px;
    margin-left: 86px;
}

.end_vol {
    margin-left: 90px;
    margin-right: 14px;
    font-size: 11px;
    font-family: 'Poppins';
    font-weight: bold;
}

input:checked+.slider {
    background-color: #f5422a;
    margin-left: -7px;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.page__rate_us {
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
    margin-top: 10px;
    margin-left: 250px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    top: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    width: 65px;
    height: 30px
}

.slider.round:before {
    border-radius: 50%;
}

.switch .slider:before {
    content: "OFF";
    width: 20px;
    height: 18px;
    color: #fff;
    font-size: 11px;
    font-family: 'Poppins';
    font-weight: bold;
    text-align: center;
    padding: 5px 6px;
    background-color: red;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.switch :checked+.slider:before {
    content: "ON";
    left: 5px;
    background-color: #fff;
    color: #000;
}

.slider_vol {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 295px;
    margin-right: 8px;
    margin-left: 8px;
    border: 2px solid black;
}

.slider_vol:hover {
    opacity: 1;
}

.slider_vol::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #ff0600;
    cursor: pointer;
}

.slider_vol::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff0600;
    cursor: pointer;
}

.start_vol {
    margin-left: 18px;
    font-size: 11px;
    font-family: 'Poppins';
    font-weight: bold;
}

.volume_container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vol_heading {
    margin-left: 70px;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: bold;
}

.volumn_image {
    width: 96px;
    height: 96px;
    margin-left: 106px;
    margin-right: 106px;
    margin-top: 6px;
}
/* rate this extension */

.rating-wrapper input{
    direction: ltr;
}

.rating-wrapper input{ 
    display: none;
} 

.rating-wrapper label {
    display: inline-block;
    width: 10px;
    position: relative;
    cursor: pointer;
    padding-top: 58px;
    margin-left: 18px;
    left: 60px;
}

.rating-wrapper label::before{
    content: "\2605";
    position: absolute;
    font-size: 40px;
    display: inline-block;
    top: 0;
    left: 0;
}


.rating-wrapper label::after{
    content: "\2605";
    position: absolute;
    font-size: 40px;
    display: inline-block;
    top: 0;
    left: 0;
    color: yellow;
    opacity: 0;
}

.rating-wrapper label:hover::after,
.rating-wrapper label:hover ~ label::after,
.rating-wrapper label:checked ~ label::after  
{
    opacity: 1;
} 