@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

body {
    width: 316px;
    height: 520px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
    margin-top: 10px;
    margin-left: 250px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    top: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #f5422a;
}

input:focus+.slider {
    box-shadow: 0 0 1px #f5422a;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    width: 65px;
    height: 30px
}

.slider.round:before {
    border-radius: 50%;
}

.switch .slider:before {
    content: "OFF";
    width: 20px;
    height: 18px;
    color: #fff;
    font-size: 11px;
    font-family: 'Poppins';
    font-weight: bold;
    text-align: center;
    padding: 5px 6px;
    background-color: red;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.switch :checked+.slider:before {
    content: "ON";
    left: 5px;
    background-color: #fff;
    color: #000;
}

.volumn_image {
    width: 96px;
    height: 96px;
    margin-left: 106px;
    margin-right: 106px;
    margin-top: 6px;
}

.slider_vol {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 295px;
    margin-right: 8px;
    margin-left: 8px;
    border: 1px solid black;
}

.slider_vol:hover {
    opacity: 1;
}

.slider_vol::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f5422a;
    cursor: pointer;
}

.slider_vol::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f5422a;
    cursor: pointer;
}

.volume_container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#demo {
    background: #000;
    color: #fff;
    margin-left: 95px;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
}

.start_vol {
    margin-left: 18px;
    font-size: 11px;
    font-family: 'Poppins';
    font-weight: bold;
}

.end_vol {
    margin-left: 90px;
    margin-right: 14px;
    font-size: 11px;
    font-family: 'Poppins';
    font-weight: bold;
}

.vol_heading {
    margin-left: 70px;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: bold;
}

.active_on_head {
    background-color: red;
    height: 30px;
    width: 130px;
    border-radius: 15px;
    margin-top: 18px;
    margin-left: 90px;
    text-align: center;
    padding-top: 7px;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: bold;
    color: #fff;
}

.container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: bold;
}

/* Hide the default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* custom radio button */
.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: lightgray;
    border-radius: 50%;
}

.container:hover input~.check {
    background-color: gray;
}

.container input:checked~.check {
    background-color: red;
}

.check:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.check:after {
    display: block;
}

.container .check:after {
    border-radius: 50%;
}

.choice_btn {
    margin-top: 20px;
    margin-left: 30px;
}

.btn_abcd {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    margin-left: 90px;
    background-color: #000;
    color: #fff;
    font-family: 'Poppins';
    font-size: medium;
    font-weight: 600;
}

.note_container {
    text-align: center;
    font-family: 'Poppins';
    font-size: smaller;
    margin-top: 18px;
}